@font-face {
  font-family: "Dinn";
  src: local("DIN Next LT Pro Medium"),
    url("./fonts/DIN Next LT Pro Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Lato Bold";
  src: local("Lato-Bold"),
    url("./fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
}

.test {
  background-color: blanchedalmond;
}

.App {
  text-align: center;
  font-family: Dinn;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.image_col{
  display: flex;
  height: 100vh;
}

.log_ill {
  width: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.form_box {
  background-color: #30326B;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}

.new_form {
  width: 70%;
}

.form_text {
  background-color: transparent;
  font-family: Dinn;
}

.form_text:placeholder {
  color: white;
}

.form_button {
  width: 100%;
  font-family: Dinn;
  color: #30326B;
  font-size: 18px;
  background: white;
  border-color: #30326B;
}

.form_button:hover{
  background-color: teal;
  border-color: teal;
}

.caption {
  color: white;
  font-family: Lato-Bold;
}

.login-heading {
  font-family: Dinn;
  color: white;
}

.login-subheading {
  font-family: Dinn;
  color: white;
  margin-bottom: 30px;
}

.check_test {
  color: white;
  font-family: Lato-Bold;
  font-size: 15px;
  margin-top: 2px;
}

.link {
  color: white;
  text-decoration: underline;
}

.link:hover{
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
